@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.dark-transition {
    @apply transition-all duration-300 ease-in-out;
}

.control-btn {
    @apply cursor-pointer border px-4 py-2 rounded hover:bg-black hover:text-white transition-all duration-300 ease-in-out dark:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-gray-100;
}